/* CSS declarations go here */
/*.a{
  background-color: #FAEBD7
}
.p1{
  font-style: italic;
}
.editdata{
  background-color: #3FDF69
}
.deletedata{
  background-color: #DE4B4B
}
.table{
  background-color: #FAEBD7
}*/
#success_message{ display: none;}
